/*
    Template:       Noxus
    Theme URL:      https://noxus.fr
    Author:         Sebastien P.
    Author URL:     https://noxus.fr/creator
    Description:    Noxus engine production ©
    Contact:        contact@noxus.fr
    Version:        1.0
    License:        GNU General Public License v3 or later
    License URI:    http://www.gnu.org/licenses/gpl-3.0.html
    Text Domain:    Noxus ©
    Mention légale: Textes codés et utilisé par Noxus engine © ayant droit d'auteur sur le contenu suivant.

------- Ecran d'administration -------
*/

/* -- admin add post                    -- */
    /* -- admin add post content        -- */
        form#add-post{
            width: 100%;
            height: auto;
        }
        section#add-post-screen{
            width: 100%;
            max-height: 585px;
            display: flex;
            justify-content: flex-start;
        }
            section#add-post-screen input[type='submit']{
                height: 35px;
                background-color: #1a8ae2;
                color: #FFF;
                margin-top: 5px;
            }
            section#add-post-screen input[type='submit']:hover{
                height: 35px;
                background-color: #1a8ae2e8;
                color: #FFF;
                margin-top: 5px;
            }
            section#add-post-screen input[type='button']{
                height: 35px;
                background-color: #6f6f6f;
                color: #FFF;
                margin-top: 10px;
                border: none;
            }
            section#add-post-screen input[type='button']:hover{
                height: 35px;
                background-color: #6f6f6fe8;
                color: #FFF;
                margin-top: 10px;
                cursor: pointer;
                border: none;
            }
            section#add-post-screen label.title{
                display: inline-block;
                height: 30px;
                line-height: 30px;
                padding-left: 10px;
                background-color: transparent;
            }
            section#add-post-screen label.title h6{
                background-color: #FFFFFF;
                margin: 0px 0px 0px 0px;
                padding: 0px 5px 0px 5px;
                font-size: 14px;
                display: inline-block;
                color: #333333db;
                position: relative;
                z-index: 10;
                height: 20px;
            }
            section#add-post-screen label.title:before{
                content: '';
                display: block;
                height: 1px;
                width: 101%;
                position: relative;
                right: 10px;
                top: 18px ;
                left: -10px;
                z-index: 1;
                background-color: #3333338a;
            }

        article#add-post{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-right: 20px;
        }
        article#add-post h1{
            width: 100%;
            display: inline-block;
            line-height: 10px;
        }
        article#add-post-option{
            width: 350px;   
            padding:0px 0px 0px 20px;
            border-left: 1px solid #cccccc90;
            display: flex;
            flex-direction: column; 
        }
        textarea#post-content{
            height: 100%;
            border-color: #cccccc90;
            font-family: 'JosefinSans-Light';
        }
        .add-post-title-area{
            display: flex;
            flex-direction: column;
            padding-bottom: 20px;
        }
        section#add-post-screen input[type='text']{
            margin: 0px 0px 0px 0px;
            border-bottom: 3px solid #3333338a;
            border-top: 1px solid #cccccc75;
            line-height: 28px;
        }
        section#add-post-screen input[type='text']:focus{
            margin: 0px 0px 0px 0px;
            border-bottom: 3px solid #1a8ae2;
            border-top: 1px solid #cccccc75;
            line-height: 28px;
        }
        .add-post-content-area{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;
            padding-top: 5px;
        }
        .add-post-content-area label{
                font-size: 14px;
        }
        .add-post-content-area input{
                background-color: transparent;
                border: none;
                font-size: 12px;
        }
        .admin-popup-content{
            padding: 10px 10px 10px 10px;
        }
    /* -- admin add post menu           -- */
        article#add-post-option .post-option-publish, .post-option-format, .post-option-cat{
            display: flex;
            flex-direction: column;
            margin-top: 0px;
            padding-bottom: 15px;
            margin-bottom: 0px;
            border-bottom: 1px solid #cccccc90;
        }
        #image-content{
            height: 80px;
        }
        #image-content:hover img{
            cursor: pointer;
            box-shadow: 0 0 20px 0px #7b7b7b;
        }
        #image-panel{
            display: none;
            position: absolute;
            width: 904px;
            z-index: 4000000;
            top: 30px;
            background: white;
            height: 611px;
            left: 5px;
            padding: 20px 20px 20px 20px;
        }
        .image-panel-top{
            width: 100%;
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .panel-title{
            width: 92%;
        }
        .panel-close{
            padding: 0px 10px 0px 10px;
            background-color: #1a8ae2;
            color: white;
            cursor: pointer;
            line-height: 38px;
            text-align: center;
        }
        .image-title{
            position: relative;
            bottom: 29px;
            height: 30px;
            padding: 0px 10px 0px 10px;
            line-height: 30px;
            background-color: #ffffffc7;
            overflow: hidden;
        }
        .image-info-panel{
            height: 190px;
            width: 400px;
            padding: 20px 0px 0px 25px;
            border-left: 3px solid #cccccc90;
        }
        .image-grid{
            display: flex;
            justify-content: start;
            flex-direction: column;
            flex-wrap: wrap;
            overflow-wrap: normal;
            max-height: 359px;
            max-width: 900px;
            overflow-y: scroll;
            margin-top: 10px;
        }
        .image-selected{
            height: 200px;
            padding-top: 10px;
        }
        .image-selected-container{
            height: 185px;
            width: 100%;
            display: flex;
        }
        #image-view{
            text-align: center;
            height: 175px;
            width: 380px;
            margin: 10px 25px 0px 50px;
            background-color: #9191913b;
            color: #919191;
        }
        #image-info{
            height: 125px;
        }
        #modal-window #image-view img{
            width: 100%;
            height: 100%;
        }
        .image-case{
            margin: 5px 5px 5px 5px;
            max-width: 275px;
            height: 140px;
            border: 4px solid transparent;
        }
        #modal-window .image-case img.img-panel-structure{
            width: 100%;
            height: 100%;
        }
        .image-case:hover{
            cursor: pointer;
            border: 4px solid #1a8ae2;
        }
        article#add-post-option .post-option-inner{
            display: flex;
            flex-direction: column;
            margin:5px 10px 5px 0px;
        }
/* -- admin add Média                   -- */
    section#add-post-screen #add-media-screen form{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 170px;
    }
    #add-media-screen{
        width: 100%;
    }
    .search-add-media{
        width:100%;
        text-align: center;
        padding: 0px 30px 0px 30px;
    }
    .valid-add-media{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 85px;
        margin-top: 10px;
    }
    section#add-post-screen #add-media-screen input[type='file']{
        margin: auto;
        text-align: center;
        margin-top: 10px;

    }
/* -- admin add Users                   -- */
    .nxs-add-usr{
        width: 100%;
        display: flex;
        padding: 5px 0px 5px 0px;
        font-size: 14px;
    }
    .nxs-add-usr-title{
        width: 40%;
        display: flex;
        flex-direction: column;
    }
    .nxs-add-usr-title label{
        height: 26px;
        line-height: 26px;
    }
    .nxs-add-usr-champ{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
/* -- admin change Users                -- */
    .nxs-change-usr{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .nxs-change-usr h5{
        margin: 5px 5px 15px 5px;
    }
    .nxs-change-usr-top{
        display: flex;
    }
    .nxs-change-usr-bot{
        padding:20px 0px 0px 0px ;
        width: 100%
    }
    .nxs-change-usr-left{
        width: 45%;
        display: flex;
        flex-wrap:wrap;
    }
    .nxs-change-usr-header{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 10px;
    }
    .nxs-change-usr-infos{
        width: 100%;
        display: flex;
        font-size: 14px;
        padding-top: 30px;
    }
    .nxs-change-usr-right{
        width: 55%;
        padding-left: 20px;
        margin-left: 20px;
        border-left: 1px solid #cccccc95;
        display: flex;
        flex-direction: column;
    }
    .nxs-change-usr-top img{
        height: 60px;
        width: 60px;
        border-radius: 50px;
        margin: auto;
        background-color: #e3e3e3;
        border:1px solid #cccccc95;
    }
    .nxs-change-usr-profil{
        display: flex;
    }
    .nxs-change-usr-profil-left{
        width: 100%;
    }
    .nxs-change-usr-profil-left h5{
        font-size: 16px;
    }
    .nxs-change-usr-profil-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 45px;
    }
/* -- admin add Menu                    -- */
    ul#links {
        height: 280px;
        overflow-y: scroll;
    }
    ul#links li{
        list-style: none;
        display: flex;
        justify-content: space-between;
        color: #333333;
        border-bottom: 1px solid #cccccc50;
        padding: 8px 5px 4px 20px;
        margin: 2px 5px 2px 5px;
        font-size: 14px;
        height: 34px;
        cursor: pointer;
    }
    ul#links li .nxs-menu-name{
        width: 150px;
    }
    ul#links li .nxs-menu-link{
        width: 150px;
    }
    ul#links li input#delete_btn{
        border:none;
        color:red;
        opacity: 0;
        background-color: transparent;
        font-family: 'JosefinSans-Light';
        float: left;
        height: 26px;
        padding-bottom: 13px;
        margin-top: 0px;
    }
    ul#links li:hover input#delete_btn{
        opacity: 1;
        transform: translateX(-2px);
        transition: all .5s;
    }
    ul#links li input#delete_btn:hover{
        cursor: pointer;
    }
    ul#links li:hover{
        background-color: #cccccc75;
    }
/* -- admin add event                   -- */
    .add-event-content-area{

    }
    .add-event-left{
        min-width: 200px;
        padding-right: 20px;
    }
    .add-event-right{
        width: 100%;
    }
    .add-event-left label.input{
        width: 100%;
    }


