/*
Template:       Noxus
Theme URL:      https://noxus.fr
Author:         Sebastien P.
Author URL:     https://noxus.fr/creator
Description:    Noxus engine production ©
Contact:        contact@noxus.fr
Version:        1.0
License:        GNU General Public License v3 or later
License URI:    http://www.gnu.org/licenses/gpl-3.0.html
Text Domain:    Noxus ©
Mention légale: Textes codés et utilisé par Noxus engine © ayant droit d'auteur sur le contenu suivant.

------- FOOTER -------

*/
footer{
	width: 100%;
	height: 250px;
	margin: 0px 0px 0px 0px;
	color: #dbd9d5;
	background-image: url("../images/footer.png");
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:bottom;
}

/* -- navigation = #header_bar -- */
	footer .teg_container{
		padding-top: 20px;
	}
	footer a{
		font-size: 13px;
	}
	#footer_content{
		height: 45px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #ffffff12;
	}
	#footer_content .footer_l{
		width: 75%;
		padding: 5px 5px 5px 20px;
		margin-top: auto;
		margin-bottom: auto;
	}
	#footer_content .footer_l nav.footer ul.footer_nav{
		display: flex;
		list-style: none;
	}
	#footer_content .footer_l nav.footer ul.footer_nav li{
		padding: 0px 10px 0px 10px;
	}
	footer li input[type='submit']{
		color: #dbd9d5;
		font-family: 'Timeless';
		line-height: 25px;
		font-size: 14px;
		padding: 2px 5px 2px 5px ;
		text-decoration: none;
		background-color:transparent;
		border:none;
		font-size: 12px;
	}
	footer li input[type='submit']:hover{
		color: #ffdb31;
		cursor: pointer;
	}
	#footer_content .footer_l nav.footer ul.footer_nav span{
		padding: 5px 10px 5px 10px;
	}
	footer li input[type='submit']:focus {
		outline: none;
	}
	footer #bot_footer li{
		list-style: none;
		display: inline-block;
		height: 18px;
	}
	#footer_content .footer_r{
		width: 24%;
		padding: 5px 20px 5px 5px;
		margin-top: auto;
		margin-bottom: auto;
		display: flex;
		justify-content: flex-end;
	}
/* -- mentions = #bot_header -- */
	#bot_footer{
		height: 175px;
		width: 100%;
		font-size: 12px;
		display: flex;
		justify-content: space-between;
	}
	#bot_footer .footer_bot_l{
		width: 60%;
		padding: 10px 5px 10px 30px;
		margin-top: auto;
		margin-bottom: auto;
	}
	#bot_footer .footer_bot_r{
		width: 39%;
		padding: 20px 25px 10px 5px;
		display: flex;
		justify-content: flex-start;
		font-size: 14px;
	}
	#bot_footer .footer_bot_r h4{
		margin-top: 0px;
	}